
text {
    font-family: 'Indie Flower', sans-serif;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: draw 3s forwards;
    animation-iteration-count: infinite;
    fill: rgba(0,0,0,0);
    stroke:black;
    stroke-width:1;
}

@keyframes draw {
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 100%;
        fill:currentColor;
    }
}

