// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)

$breakpoint-alpha: 480px; // adjust to your needs
$border-radius: .4em;
$component-bg: #34495E;
$component-focus: #dd5;

.app {
  display: flex;
  flex-direction: column;
  width: min-content;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2em;
}
p{
  &:first-letter{
    text-transform: uppercase;
    font-weight: bold;
    color: $component-focus;
  }
}
section {
  width: min-content;
  color: red;

}

.rwd-table {
  margin: 1em 0;
  min-width: 300px; // adjust to your needs
  width: 100%;

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
  }

  td {
    display: block;

    &:first-child {
      padding-top: .5em;
    }

    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th) ": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options

      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }

  th, td {
    text-align: left;

    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

  }


}


// presentational styling

@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #a9b6c8;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: $component-bg;
  color: #fff;
  border-radius: $border-radius;
  overflow: hidden;

  tr {
    border-color: lighten(#34495E, 10%);
  }

  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) {
      padding: 1em !important;
    }
  }

  th, td:before {
    color: #dd5;
  }
}

/******************* end table *****************/
/******************* start toolbar *****************/
/*--------------------------------------------------------------
1.0 - TOOLBAR
--------------------------------------------------------------*/
.toolbar {
  border-radius: $border-radius;

  display: flex;
  flex-direction: row;
  box-shadow: 0 0 3px rgba(64, 100, 138, .3), 0 2px 4px #3b5c7f, 0 12px 18px rgba(64, 100, 138, .4);
  padding: 0;
  overflow: hidden;
}

.toolbar li {
  list-style: none;
  flex: 1;
  text-align: center;
}

.toolbar li {
  background: $component-bg;
  border-left: 1px solid rgba(79, 123, 170, .4);
  border-right: 1px solid rgba(255, 255, 255, .3);
  color: #40648a;
  display: block;
  font-size: 27px;
  height: 54px;
  line-height: 57px;
  text-decoration: none;
}

.toolbar li:first-child a {
  border-left: none;
  border-radius: 4px 0 0 4px
}

.toolbar li:last-child a {
  border-right: none;
  border-radius: 0 $border-radius $border-radius 0
}

.toolbar li:hover {
  background: #aac5e0;
  color: #fff;
  text-shadow: 0 1px 0 #40648a;
}

.toolbar li:active {
  background: #8aafd5;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3) inset;
  text-shadow: 0 -1px 0 #40648a;
}

/*----------------------------------------------------------------------------
 cool button
 ----------------------------------------------------------------------------*/
button {
  touch-callout: none;
  user-select: none;
  border: .2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.6;
  background: none;
  color: #FFF;
  display: block;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: bold;
}

button:active {
  color: $component-focus;
}
